.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    padding-top: 70px;
}
/* Sidebar links */
.sidebar a {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #495057;
}
/* Content */
.content {
    margin-left: 250px;
    padding: 20px;
}