/* Custom styles */
body {
    background-color: #f8f9fa;
}

.sidebar {
    background: #070707;
    color: #fff;
    height: 100vh;
}

.sidebar a {
    color: #fff;
}

.sidebar a:hover {
    color: #dee2e6;
}

.main-content {
    margin-top: 20px;
}

/* Header styles */
.custom-header {
    background-color: #6c757d;
    color: #fff;
}

.custom-header .navbar-brand {
    color: #fff;
}

.custom-header .nav-item a {
    color: #fff !important;
}

.custom-header .nav-item a:hover {
    color: #dee2e6 !important;
}