<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In/Signup</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='libs/bootstrap-5.3.2/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/auth.css')}}">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="{{ url_for('static',filename='libs/bootstrap-5.3.2/js/bootstrap.min.js')}}"></script>
</body>

</html>